@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
background-image:url(https://movie-test1.s3.ap-south-1.amazonaws.com/images/img/bg2.jpeg),url(https://movie-test1.s3.ap-south-1.amazonaws.com/images/img/bg_demo.jpg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: center, 100%;


}
section .container{
  width: 500px;
  background: rgb(0,0,0,0.8);
  margin: 12% auto;
  padding: 50 px 0;
  color :#fff;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
section .container .form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
section .container .form form h5{
    font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
   width: 100%;
   margin-bottom: 10px;
   color: #555;
}
section .container .form form input {
    position: relative;
width: 100%;
padding: 10px;
background: #f5f5f5;
color: #333;
border: none;
outline: none;
box-shadow: none;
margin: 8px 0;
font-size: 14px;
letter-spacing: 1px;
font-weight: 300;

}
section .container  form .buttons input
{
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;

}
