@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
background-image:url(https://movie-test1.s3.ap-south-1.amazonaws.com/images/img/bg3.jpeg);
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

section
{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

section .container
{
    position: relative;
    width: 800px;
    height: 510px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}

section .container .user
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

}

section .container .user .imgbox
{
    position: relative;
    width: 50%;
    height:100%;
    background: #ff0;
    transition: 0.5s;

}
section .container .user .imgbox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fit;

}
section .container .user .formbox
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;

}
section .container .user .formbox form h2
{
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
   width: 100%;
   margin-bottom: 10px;
   color: #555;
}

section .container .user .formbox form input
{
position: relative;
width: 100%;
padding: 10px;
background: #f5f5f5;
color: #333;
border: none;
outline: none;
box-shadow: none;
margin: 8px 0;
font-size: 14px;
letter-spacing: 1px;
font-weight: 300;
}
section .container .user .formbox form input[type="submit"]
{
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;

}

section .container .user .formbox form .signup
{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;



}

section .container .user .formbox form .signup a
{
font-weight: 600;
text-decoration: none;
color: #677eff;

    }

section .container .signupbox
{
    pointer-events: none;
}
section .container.active .signupbox
{
    pointer-events: initial;
}

section .container .signupbox .formbox
{
    left: 100%;
}
section .container.active .signupbox .formbox
{
    left: 0;
}
section .container .signupbox .imgbox
{
    left: -100%;
}
section .container.active .signupbox .imgbox
{
    left: 0;
}


section .container .signinbox .formbox
{
    left: 0;
}
section .container.active .signinbox .formbox
{
    left: 100%;
}
section .container .signinbox .imgbox
{
    left: 0;
}
section .container.active .signinbox .imgbox
{
    left: -100%;
}



